.about {
  background-color: $primary-bgc;
  padding-bottom: 40px;

  @include mq('tablet') {
    padding-bottom: 60px;
  }

  &__photo {
    @include mq('mobile-only') {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.about__container {
  @include mq('tablet') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include mq('desktop') {
    background-image: url(../images/about/about-bgc-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('retina') {
      background-image: url(../images/about/about-bgc-desktop@2.png);
    }
  }
}

.about__wrapper {
  @include mq('tablet-only') {
    margin-left: 32px;
  }
  @include mq('desktop') {
    margin-left: 99px;
  }
}
.text-wrapper {
  background-image: url(../images/about/about-bgc-mobile.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mq('retina') {
    background-image: url(../images/about/about-bgc-mobile@2.png);
  }

  @include mq('tablet') {
    background-image: none;
    max-width: 334px;
  }

  @include mq('desktop') {
    max-width: 463px;
  }
}
.section__label--margin {
  margin-bottom: 15px;

  @include mq('tablet') {
    margin-bottom: 16px;
  }
}
.section__title--margin {
  margin-bottom: 32px;
  @include mq('tablet-only') {
    margin-bottom: 40px;
  }

  @include mq('desktop') {
    margin-bottom: 60px;
  }
}

.about__description {
  line-height: 1.58;
  margin-bottom: 35px;

  @include mq('tablet') {
    font-size: 14px;
    line-height: 1.78;
  }

  @include mq('desktop') {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.78;
  }
}

.about__subdescription {
  color: $text-light-color;
  line-height: 1.58;
  margin-bottom: 20px;
  letter-spacing: 0.04em;

  @include mq('tablet') {
    margin-bottom: 40px;
    font-size: 14px;
  }
}
// read more and button elements

.about__subdescription--more {
  display: none;
  &.show-more {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -10px;
    @include mq('tablet') {
      margin-bottom: 40px;
      margin-top: -25px;
    }
  }
}

.readMoreBtn {
  transition: transform 250ms $timing-function;
}
.readMoreBtn.clicked .button__text--more {
  display: none;
}

.readMoreBtn .button__text--less {
  display: none;
}
.readMoreBtn.clicked .button__text--less {
  display: inline;
}

.readMoreBtn:hover,
.readMoreBtn:focus {
  .button__icon--red {
    transform: rotate(90deg);
  }
}

.readMoreBtn.readMoreBtn.clicked:hover,
.readMoreBtn.readMoreBtn.clicked:focus {
  .button__icon--red {
    transform: rotate(-90deg);
  }
}
