@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

.akeconsa-udaneles {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 9;
}

.akeconsa-udaneles a {
    height: 42px;
    width: 42px;
    text-align: center;
    background: $text-light-color;
    display: block;
    border-radius: 15px;
}

.akeconsa-udaneles a span {
    color: $text-pink-color;
    font-size: 30px;
    line-height: 42px;
    cursor: pointer;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section__label {
    font-family: $secondary-font;
    font-weight: $secondary-fw;
    font-size: $uppertitle-fz;
    line-height: 1.17;

    text-align: center;
    text-transform: uppercase;
    color: $text-pink-color;

    @include mq('tablet') {
        font-size: 26px;
        line-height: 1.15;
    }
    @include mq('desktop') {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

.section__title {
    font-family: $secondary-font;
    font-weight: $secondary-fw;
    font-size: $primary-title-size;
    line-height: 1.15;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;
    color: $primary-red-color;

    @include mq('tablet') {
        font-size: 48px;
    }
    @include mq('desktop') {
        font-size: 58px;
        line-height: 1.2;
        letter-spacing: 0.06em;
    }
}
