// HEADER
.header {
    height: 502px;
    background-color: $header-bgc;

    @include mq('tablet') {
        height: 416px;
    }

    @include mq('desktop') {
        height: 664px;
    }

    .container {
        padding-top: 8px;
        position: relative;
        height: 100%;

        @include mq('tablet-only') {
            padding-top: 32px;
            padding-left: 32px;
            padding-right: 32px;
        }

        @include mq('desktop') {
            padding-top: 37px;
        }
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
}

// NAV
.header__nav {
    display: none;
    z-index: 2;

    @include mq('desktop') {
        display: block;
        margin-left: 128px;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    &:not(:last-child) {
        margin-right: 35px;
    }
}

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $primary-white-color;
    transition: color $timing-function $fast-anim;

    &:hover,
    &:focus {
        color: $primary-red-color;
    }
}

// MENU
.menu__btn--open {
    position: absolute;
    right: 20px;
    top: 27px;
    z-index: 4;

    // display: none;
    @include mq('tablet') {
        right: 224px;
        top: 45px;
    }

    @include mq('desktop') {
        display: none;
    }

}

.menu__btn--close {
    position: absolute;
    right: 32px;
    top: 20px;
}

.header__menu {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform $timing-function $fast-anim;
    width: 250px;
    height: 100%;
    padding: 60px 20px;
    text-align: left;
    background-color: #E17992;
    overflow-y: auto;
    z-index: 5;

    &.is-open {
        transform: translateX(0);
    }

    @include mq('desktop') {
        display: none;
    }
}

.menu__list {
    margin-top: 32px;
}

.menu__item {
    &:not(:last-child) {
        margin-bottom: 22px;
    }
}

.menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $primary-white-color;
    transition: color $timing-function $fast-anim;

    &:hover,
    &:focus {
        color: $primary-red-color;
    }
}

// BUTTONS
.btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu__btn-buy {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $primary-red-color;
    background-color: $primary-white-color;
    border-radius: 22px;
    padding: 12px 40px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color $timing-function $fast-anim;

    &:hover,
    &:focus {
        background-color: $btn-pale-accent;
    }
}


.header__btn-buy {
    display: none;

    @include mq('tablet') {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $primary-red-color;
        background-color: $primary-white-color;
        border-radius: 22px;
        padding: 12px 35px;
        margin-left: auto;
        transition: background-color $timing-function $fast-anim;
    }

    &:hover,
    &:focus {
        background-color: $btn-pale-accent;
    }
}

.icon-arrow {
    margin-left: 12px;
}

.header-btns__list {
    margin-top: 20px;
    display: flex;

    @include mq('desktop') {
        margin-top: 24px;
    }
}

.header-btns__item {
    &+& {
        margin-left: 8px;
    }
}

.btn-products,
.btn-howmade {
    position: relative;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 8px;
    line-height: 10px;
    font-weight: 400;
    z-index: 3;

    @include mq('desktop') {
        font-size: 14px;
        line-height: 18px;
        padding: 11px 22px;
    }
}

.btn-products {
    color: $primary-white-color;
    background-color: $primary-red-color;
    transition: background-color $timing-function $fast-anim;

    &:hover,
    &:focus {
        background-color: $btn-red-accent;
    }
}

.btn-howmade {
    color: $primary-red-color;
    background-color: $primary-white-color;
    transition: background-color $timing-function $fast-anim;

    &:hover,
    &:focus {
        background-color: $btn-pale-accent;
    }
}

// ICECREAM-WRAPPER
.icecream__wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 419px;
    overflow: hidden;

    @include mq('tablet') {
        width: 334px;
        right: 185px;
        height: 373px;
    }

    @include mq('desktop') {
        width: 534px;
        right: 149px;
        height: 611px;
    }
}

.icecream__background {
    position: absolute;
    left: 15px;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    background-color: $text-pink-color;
    z-index: 1;

    @include mq('tablet') {
        left: 0;
        height: 334px;
        width: 334px;
    }

    @include mq('desktop') {
        width: 534px;
        height: 534px;
    }
}

.icecream__img {
    position: absolute;
    left: 81px;
    bottom: -75px;
    z-index: 2;

    @include mq('tablet') {
        left: 74px;
        bottom: -40px;
    }

    @include mq('desktop') {
        left: 119px;
        bottom: -77px;
    }
}

// GIRL-WRAPPER
.girl__wrapper {
    display: none;

    @include mq('tablet') {
        display: block;
        position: absolute;
        right: 32px;
        bottom: 1px;
        z-index: 2;
    }

    @include mq('desktop') {
        right: 16px;
    }
}

// NUMBERS-WRAPPER
.numbers__wrapper {
    display: none;

    @include mq('tablet') {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 92px;
        right: 32px;
    }

    @include mq('desktop') {
        top: 152px;
        left: 16px;
    }
}

.numbers__item {
    text-align: right;
    position: relative;

    &+& {
        margin-top: 16px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: -10px;
        top: -2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #ffffff;
        z-index: 3;

        @include mq('desktop') {
            width: 30px;
            height: 30px;
            top: -3px;
            right: -18px;
        }
    }
}

.numbers__text--red {
    position: relative;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    z-index: 4;

    @include mq('desktop') {
        font-size: 46px;
        line-height: 53px;
    }
}

.numbers__text--white {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;

    @include mq('desktop') {
        font-size: 14px;
        line-height: 18px;
    }
}

// MILK-WRAPPER
.milk__wrapper {
    display: none;

    @include mq('tablet') {
        position: relative;
        z-index: 2;
        display: flex;
        margin-top: 20px;
    }

    @include mq('desktop') {
        margin-top: 40px;
    }
}

.milk__text {
    margin-top: 41px;
    width: 114px;
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
    color: $primary-white-color;

    @include mq('desktop') {
        width: 200px;
        font-size: 14px;
        line-height: 140%;
        margin-top: 70px;
    }

}

.milk__btn {
    position: absolute;
    left: 152px;
    top: 100px;
    width: 18px;
    height: 18px;
    background-image: url(../images/product/product-arrow.png);
    background-size: contain;
    border: none;
    border-radius: 50%;
    display: block;

    @include mq('desktop') {
        left: 213px;
        top: 166px;
        width: 26px;
        height: 26px;
    }
}

// TITLE
.header__title {
    position: relative;
    margin-top: 136px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-white-color;
    z-index: 3;

    @include mq('tablet') {
        margin-top: 20px;
        font-size: 22px;
        line-height: 25px;
    }

    @include mq('desktop') {
        margin-top: 60px;
        font-size: 38px;
        line-height: 44px;
    }
}

.header__title--second {
    font-size: 48px;
    line-height: 96.5%;
    text-transform: uppercase;
    color: $primary-red-color;

    @include mq('tablet') {
        font-size: 34px;
        line-height: 90.5%;
    }

    @include mq('desktop') {
        font-size: 58px;
        line-height: 90.5%;
    }
}

// MODAL
/* BACKDROP */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity $timing-function $fast-anim,
        visibility $timing-function $fast-anim;
    overflow-y: scroll;
    z-index: 5;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

/* MODAL */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $timing-function $fast-anim;
    z-index: 6;

    width: 93.75%;
    padding: 40px;

    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
}

.form__label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 10px;
}

.form__wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0 0 0 42px;
    transition: border-color $timing-function $fast-anim;

    &:focus,
    &:not(:placeholder-shown) {
        border-color: $header-bgc;
        outline: none;
    }
}

.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill $timing-function $fast-anim;

    .form__input:not(:placeholder-shown)+&,
    .form__input:focus+& {
        fill: $header-bgc;
    }
}

.form__textarea-label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 20px;
}

.form__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
    transition: border-color $timing-function $fast-anim;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus,
    &:not(:placeholder-shown) {
        border-color: $header-bgc;
        outline: none;
    }
}

.form__checkbox-label {
    position: relative;

    display: block;

    text-align: center;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}

.form__checkbox-icon {
    border: 2px solid #212121;
    border-radius: 2px;
    fill: transparent;
    transition: fill $timing-function $fast-anim,
        border $timing-function $fast-anim 250ms;

    .form__checkbox:checked~& {
        fill: $btn-red-accent;
        border: none;
    }
}

.form__contract-link {
    font-weight: normal;
    font-size: 12px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $header-bgc;
}

.form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 30px auto 0 auto;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $header-bgc;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: unset;
    transition: background-color $timing-function $fast-anim;

    &:hover,
    &:focus {
        background-color: $btn-red-accent;
    }
}

.modal__btn--close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $primary-white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: fill $timing-function 50ms;

    &:hover,
    &:focus {
        fill: $btn-red-accent;
    }
}