// HEADER
.header {
    height: 502px;
    background-color: #FFB8CA;

    @include mq('tablet') {
        height: 416px;

    }

    .container {
        padding-top: 8px;
        position: relative;
        height: 100%;

        @include mq('tablet-only') {
            padding-top: 32px;
            padding-left: 32px;
            padding-right: 32px;

        }
    }
}

// NAV
.header__nav {
    display: none;
}

// MENU
.menu__btn-open {
    position: absolute;
    right: 20px;
    top: 27px;

    // display: none;
    @include mq('tablet') {
        right: 224px;
        top: 46px;
    }
}

.header__menu {
    display: none;
}

// BUTTONS
.btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__btn-buy {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #D41443;
    background-color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 22px;

    display: none;

    @include mq('tablet') {
        display: inline-block;
        position: absolute;
        top: 32px;
        right: 32px;
    }
}

.icon-arrow {
    margin-left: 12px;
}

.header__btn-products,
.header__btn-howmade {
    position: relative;

    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 8px;
    line-height: 10px;
    font-weight: 400;

    z-index: 3;
}

.header__btn-products {
    color: #FFFFFF;
    background-color: #D41443;
}

.header__btn-howmade {
    color: #D41443;
    background-color: #FFFFFF;
    margin-left: 8px;
}

// ICECREAM-WRAPPER
.icecream__wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 419px;

    overflow: hidden;

    @include mq('tablet') {
        width: 334px;
        right: 185px;
        height: 373px;
    }
}

.icecream__background {
    position: absolute;
    left: 15px;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    background-color: #FFA5BA;
    z-index: 1;

    @include mq('tablet') {
        left: 0;
        height: 334px;
        width: 334px;
    }
}

.icecream__img {
    position: absolute;
    left: 81px;
    bottom: -75px;
    z-index: 2;

    @include mq('tablet') {
        left: 74px;
        bottom: -40px;
    }
}

// GIRL-WRAPPER
.girl__wrapper {
    display: none;

    @include mq('tablet') {
        display: block;
        position: absolute;
        right: 32px;
        bottom: 1px;
        z-index: 2;
    }
}

// NUMBERS-WRAPPER
.numbers__wrapper {
    display: none;

    @include mq('tablet') {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 92px;
        right: 32px;
    }
}

// TITLE
.header__title {
    position: relative;

    margin-top: 136px;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    z-index: 3;

    @include mq('tablet') {
        margin-top: 20px;
        font-size: 22px;
        line-height: 25px;
    }
}

.header__title--second {
    font-size: 48px;
    line-height: 96.5%;
    text-transform: uppercase;
    color: #D41443;

    @include mq('tablet') {
        font-size: 34px;
        line-height: 90.5%;
    }
}