body {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;

  &.is-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}