$secondary-fw: 400;
$secondary-fz: 16px;

$secondary-font: 'Titan One', sans-serif;

$primary-red-color: #d41443;
$primary-white-color: #ffffff;
$text-light-color: #907e82;
$text-pink-color: #ffa5ba;

$primary-title-fw: 400;
$primary-title-size: 34px;

$uppertitle-fz: 18px;
$uppertitle-fw: 400;

$header-bgc: #ffb8ca;
$primary-bgc: #fff5f6;
$dark-bgc: #fafafa;
$social-icon-bgc: #fea5bb;

// hover buttons background
$btn-pale-accent: #ecebeb;
$btn-red-accent: #ba0b36;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
