<section class="section section__color" id="contact">
  <div class="container" id="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <div class="contacts__item">
          <p class="contacts__title contacts__title--brown">CAFE</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">Chicago</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="thumb__contacts">
              <a class="tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              <a class="mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item">
          <p class="contacts__title contacts__title--green">FOODTRUCK</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">Los Angeles</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="thumb__contacts">
              <a class="tel" href="tel:+610383766284">+61(0) 383 766 284</a>
              <a class="mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__item">
          <p class="contacts__title contacts__title--brown">CAFE</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">New York</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <ul class="thumb__contacts">
              <li>
                <a class="tel" href="tel:+61083766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="mail" href="mailto:noreply@envato.com"
                  >noreply@envato.com
                </a>
              </li>
            </ul>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li class="contacts__button--location">
        <button class="button button--red location" type="button">
          <span class="button__text button__text--white" data-modal-open
            >Our locations</span
          >
          <svg class="button__icon button__icon--white" width="8" height="9">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__button--franchise">
        <button class="button button--white" type="button">
          <span class="button__text button__text--red">Franchise</span>
          <svg class="button__icon button__icon--red" width="8" height="9">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="backdrop is-hidden" data-modal> <div class="modal-wrapper">
    <button class="modal-btn" type="button" data-modal-close>
      <svg class="modal-btn__icon" width="17" height="17">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button></div>
 
  <!-- <script src="./contacts.js"></script> -->
</section>
