<section class="section section__color">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts">
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__title contacts__title--brown">CAFE</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">Chicago</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="thumb__contacts">
              <a class="tel" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
              <a class="mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__title contacts__title--green">FOODTRUCK</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">Los Angeles</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="thumb__contacts">
              <a class="tel" href="tel:+61(0) 383 766 284"
                >+61(0) 383 766 284</a
              >
              <a class="mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__box">
          <p class="contacts__title contacts__title--brown">CAFE</p>
          <ul class="contacts__thumb">
            <li class="thumb__about">
              <h3 class="thumb__title">New York</h3>
              <p class="about__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </li>
            <li class="thumb__work-schedule">
              <p class="date">Monday - Friday</p>
              <p class="time time--margin">06:00 AM - 10:00 PM</p>
              <p class="date">Saturday - Sunday</p>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="thumb__contacts">
              <a class="tel" href="tel:+61 0 383 766 284">+61(0) 383 766 284</a>
              <a class="mail" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button class="button location" type="button">
          <a
            class="button__text"
            href="https://goo.gl/maps/znHR7mtzGgyCM8uh8"
            target="_blank"
            >Our Locations
          </a>
        </button>
      </li>
      <li>
        <button class="button button--white franchise" type="button">
          <a class="button__text" href="">Franchise</a>
        </button>
      </li>
    </ul>
  </div>
</section>
