<section>
    <div class="container">
        <h2 class="visually-hidden">Customer Review</h2>
        <div class="slider">
            <div>
                <img 
                srcset=""
                src="" 
                alt="Photo of the first customer"
                />
                <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p>Emily, Los Angeles</p>
            </div>
        </div>
        <div class="container">
            <h2 class="visually-hidden">Customer Review</h2>
            <div class="slider">
                <div>
                    <img 
                    srcset=""
                    src=""
                    alt="Photo of the second customer"
                    />
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p>Emily, Los Angeles</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="visually-hidden">Customer Review</h2>
            <div class="slider">
                <div>
                    <img 
                    srcset=""
                    src=""
                    alt="Photo of the third customer"
                    />
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p>Emily, Los Angeles</p>
                </div>
            </div>
        </div>
    </div>
</section>