<footer class="footer">
  <div class="container">
    <div class="footer-menu">
    <div class="footer-title">
      <p class="footer-title__text">homemade ice cream made</p>
      <p class="footer-title__text-two">with passion</p>
    </div>
    <div class="menu">
      <div class="social-network">
      <ul class="social-network__button-menu">
        <li class="social-network__icon">
          <a href="" class="social-network__button">
            <svg class="social-network__button-icon">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__icon">
          <a href="" class="social-network__button">
            <svg class="social-network__button-icon">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__icon">
          <a href="" class="social-network__button">
            <svg class="social-network__button-icon">
              <use href="./images/symbol-defs.svg#icon-social-facebook"></use>
            </svg>
          </a>
        </li> 
      </ul>
      </div>
        <div class="footer-menu-adress">
          <p class="footer-menu-adress__text">Feel free to contact
          <a class="footer-menu-adress__link" href="tel:+380961111111"
            >+61 (0) 383 766 284</a></p>
    </div>
  </div>
  </div>
    <div class="developer">
      <p>© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  
</footer>
