<section class="gallery">
    <div class="gallery__box container">
      <div class="gallery__item item1">
        <img
        srcset="./images/gallery/home-pic1-320.png 320w, 
        ./images/gallery/home-pic1-640.png 768w, 
        ./images/gallery/home-pic1-1200.png 1200w" 
        src="./images/gallery/home-pic1-320.png" 
        alt="" 
        class="gallery__foto">
      </div>
      <div class="gallery__item item2">
        <img 
        srcset="./images/gallery/home-pic2-320.png 320w, 
        ./images/gallery/home-pic2-640.png 768w, 
        ./images/gallery/home-pic2-1200.png 1200w"         
        src="./images/gallery/home-pic2-320.png" 
        alt="" 
        class="gallery__foto">
        <img
         srcset="./images/gallery/home-pic3-320.png 320w, 
        ./images/gallery/home-pic3-640.png 768w, 
        ./images/gallery/home-pic3-1200.png 1200w"  
        src="./images/gallery/home-pic3-320.png" 
        alt="" 
        class="gallery__foto">
      </div>
      <div class="gallery__item item3">
        <img
         srcset="./images/gallery/home-pic4-320.png 320w, 
        ./images/gallery/home-pic4-640.png 768w, 
        ./images/gallery/home-pic4-1200.png 1200w" 
        src="./images/gallery/home-pic4-320.png" 
        alt="" class="gallery__foto animate__animated animate__rubberBand">
        <img 
         srcset="./images/gallery/home-pic5-320.png 320w, 
        ./images/gallery/home-pic5-640.png 768w, 
        ./images/gallery/home-pic5-1200.png 1200w" 
        src="./images/gallery/home-pic5-320.png" 
        alt="" 
        class="gallery__foto foto5">
      </div>
      <div class="gallery__item item4">
        <img 
         srcset="./images/gallery/home-pic6-320.png 320w, 
        ./images/gallery/home-pic6-640.png 768w, 
        ./images/gallery/home-pic6-1200.png 1200w" 
        src="./images/gallery/home-pic6-320.png" 
        alt="" 
        class="gallery__foto">
        <img 
         srcset="./images/gallery/home-pic7-320.png 320w, 
        ./images/gallery/home-pic7-640.png 768w, 
        ./images/gallery/home-pic7-1200.png 1200w" 
        src="./images/gallery/home-pic7-320.png" 
        alt="" 
        class="gallery__foto">
      </div>
      <div class="gallery__item item5">
        <img 
         srcset="./images/gallery/home-pic8-320.png 320w, 
        ./images/gallery/home-pic8-640.png 768w, 
        ./images/gallery/home-pic8-1200.png 1200w" 
        src="./images/gallery/home-pic8-320.png" 
        alt="" 
        class="gallery__foto">
        <img 
         srcset="./images/gallery/home-pic9-320.png 320w, 
        ./images/gallery/home-pic9-640.png 768w, 
        ./images/gallery/home-pic9-1200.png 1200w" 
        src="./images/gallery/home-pic9-320.png" 
        alt="" 
        class="gallery__foto">
      </div>
      <div class="gallery__item item6">
        <img 
         srcset="./images/gallery/home-pic10-320.png 320w, 
        ./images/gallery/home-pic10-640.png 768w, 
        ./images/gallery/home-pic10-1200.png 1200w" 
        src="./images/gallery/home-pic10-320.png" 
        alt="" 
        class="gallery__foto">
      </div>
    </div>
  </section>