<section class="section gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__box container">
    <div class="gallery__item item1">
      <img
        srcset="
          ./images/gallery/home-pic1-320.png   320w,
          ./images/gallery/home-pic1-640.png   768w,
          ./images/gallery/home-pic1-1200.png 1200w
        "
        src="./images/gallery/home-pic1-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="ice cream on a plate"
        class="gallery__foto"
        loading="lazy"
      />
    </div>
    <div class="gallery__item item2">
      <img
        srcset="
          ./images/gallery/home-pic2-320.png   320w,
          ./images/gallery/home-pic2-640.png   768w,
          ./images/gallery/home-pic2-1200.png 1200w
        "
        src="./images/gallery/home-pic2-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="ice cream cone in hand"
        class="gallery__foto"
        loading="lazy"
      />
      <img
        srcset="
          ./images/gallery/home-pic3-320.png   320w,
          ./images/gallery/home-pic3-640.png   768w,
          ./images/gallery/home-pic3-1200.png 1200w
        "
        src="./images/gallery/home-pic3-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="lots of berry ice cream"
        class="gallery__foto"
        loading="lazy"
      />
    </div>
    <div class="gallery__item item3">
      <img
        srcset="
          ./images/gallery/home-pic4-320.png   320w,
          ./images/gallery/home-pic4-640.png   768w,
          ./images/gallery/home-pic4-1200.png 1200w
        "
        src="./images/gallery/home-pic4-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="ice cream cones sprinkled with berries"
        class="gallery__foto"
        loading="lazy"
      />
      <img
        srcset="
          ./images/gallery/home-pic5-320.png   320w,
          ./images/gallery/home-pic5-640.png   768w,
          ./images/gallery/home-pic5-1200.png 1200w
        "
        src="./images/gallery/home-pic5-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="girl eating ice cream"
        class="gallery__foto foto5"
        loading="lazy"
      />
    </div>
    <div class="gallery__item item4">
      <img
        srcset="
          ./images/gallery/home-pic6-320.png   320w,
          ./images/gallery/home-pic6-640.png   768w,
          ./images/gallery/home-pic6-1200.png 1200w
        "
        src="./images/gallery/home-pic6-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="hand decorating ice cream with berries"
        class="gallery__foto"
        loading="lazy"
      />
      <img
        srcset="
          ./images/gallery/home-pic7-320.png   320w,
          ./images/gallery/home-pic7-640.png   768w,
          ./images/gallery/home-pic7-1200.png 1200w
        "
        src="./images/gallery/home-pic7-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="female hand holding ice cream on street background"
        class="gallery__foto"
        loading="lazy"
      />
    </div>
    <div class="gallery__item item5">
      <img
        srcset="
          ./images/gallery/home-pic8-320.png   320w,
          ./images/gallery/home-pic8-640.png   768w,
          ./images/gallery/home-pic8-1200.png 1200w
        "
        src="./images/gallery/home-pic8-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="dog licks ice cream"
        class="gallery__foto"
        loading="lazy"
      />
      <img
        srcset="
          ./images/gallery/home-pic9-320.png   320w,
          ./images/gallery/home-pic9-640.png   768w,
          ./images/gallery/home-pic9-1200.png 1200w
        "
        src="./images/gallery/home-pic9-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="glass with milkshake in hand"
        class="gallery__foto"
        loading="lazy"
      />
    </div>
    <div class="gallery__item item6">
      <img
        srcset="
          ./images/gallery/home-pic10-320.png   320w,
          ./images/gallery/home-pic10-640.png   768w,
          ./images/gallery/home-pic10-1200.png 1200w
        "
        src="./images/gallery/home-pic10-320.png"
        sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        alt="ice cream on the lid"
        class="gallery__foto"
        loading="lazy"
      />
    </div>
  </div>
</section>
