<header class="header" id="header">
    <div class="container">

        <div class="header__wrapper">
            <div class="header__logo">
                <a class="logo__link" href="./index.html">
                    <svg class="logo__icon" width="199" height="50">
                        <use href="./images/hero-header/icons.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>

            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="./index.html" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>

            <button class="header__btn-buy btn" data-modal-open1>
                Buy now
                <svg class="icon-arrow" width="8" height="9">
                    <use href="./images/hero-header/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>

        <button class="menu__btn--open btn">
            <svg class="menu__icon" width="20" height="12">
                <use href="./images/hero-header/icons.svg#icon-btn-open"></use>
            </svg>
        </button>

        <div class="header__menu">
            <button class="menu__btn--close btn">
                <svg class="menu__icon" width="14" height="14">
                    <use href="./images/hero-header/icons.svg#icon-btn-close"></use>
                </svg>
            </button>

            <button class="menu__btn-buy btn" data-modal-open>
                Buy now
                <svg class="logo__icon" width="5" height="8">
                    <use href="./images/hero-header/icons.svg#icon-arrow"></use>
                </svg>
            </button>

            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#header" class="menu__link">
                        Home
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#about" class="menu__link">
                        About us
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#about" class="menu__link">
                        How it’s made?
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#products" class="menu__link">
                        Our products
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#contacts" class="menu__link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>

        <h1 class="header__title">
            ice cream <br>
            made with <br>
            <span class="header__title--second">passion</span>
        </h1>

        <ul class="header-btns__list">
            <li class="header-btns__item">
                <a href="#products" class="header-btn__link btn-products btn">Products</a>
            </li>
            <li class="header-btns__item">
                <a href="#about" class="header-btn__link btn-howmade btn">How it’s made?</a>
            </li>
        </ul>

        <div class="milk__wrapper">
            <picture class="milk__igm">
                <source srcset="
                                ./images/hero-header/milk-desktop-1x.png 1x, 
                                ./images/hero-header/milk-desktop-2x.png 2x" media="(min-width:1200px)" />

                <source srcset="
                                ./images/hero-header/milk-tablet-1x.png 1x,
                                ./images/hero-header/milk-tablet-2x.png 2x" />
                <img src="./images/hero-header/milk-tablet-1x.png" alt="Молоко" />
            </picture>
            <p class="milk__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <button class="milk__btn btn" aria-label="Read More">


            </button>
        </div>

        <div class="icecream__wrapper">
            <div class="icecream__background ">
                <picture class="icecream__img animate__animated animate__flipInY">


                    <source srcset="
                        ./images/hero-header/icecream-desktop-1x.png 1x, 
                        ./images/hero-header/icecream-desktop-2x.png 2x" media="(min-width:1200px)" />
                    <source srcset="
                        ./images/hero-header/icecream-tablet-1x.png 1x,
                        ./images/hero-header/icecream-tablet-2x.png 2x" media="(min-width:768px)" />
                    <source srcset="
                        ./images/hero-header/icecream-mobile-1x.png 1x,
                        ./images/hero-header/icecream-mobile-2x.png 2x" />
                    <img src="./images/hero-header/icecream-mobile-1x.png" alt="Морозиво"/>
                </picture>
            </div>
        </div>

        <div class="girl__wrapper">
            <picture class="girl__img">
                <source srcset="
                    ./images/hero-header/girl-desktop-1x.png 1x, 
                    ./images/hero-header/girl-desktop-2x.png 2x" media="(min-width:1200px)" />

                <source srcset="
                    ./images/hero-header/girl-tablet-1x.png 1x,
                    ./images/hero-header/girl-tablet-2x.png 2x" />
                <img src="./images/hero-header/girl-tablet-1x.png" alt="Дівчина" />
            </picture>
        </div>

        <ul class="numbers__wrapper">
            <li class="numbers__item">
                <p class="numbers__text--red">16</p>
                <span class="numbers__text--white">cafes</span>
            </li>
            <li class="numbers__item">
                <p class="numbers__text--red">23</p>
                <span class="numbers__text--white">food trucks</span>
            </li>
        </ul>

    </div>

    <div class="backdrop is-hidden" data-modal data-modal1>
        <div class="modal">
            <h2 class="modal__title">Оставьте свои данные, мы вам перезвоним</h2>
            <form name="modal-form" class="modal__form form">
                <label class="form__label">Имя
                    <span class="form__wrapper">
                        <input type="text" name="name" class="form__input" placeholder=" " />
                        <svg class="form__icon" width="18" height="18">
                            <use href="./images/hero-header/icons.svg#icon-form-person"></use>
                        </svg>
                    </span>
                </label>

                <label class="form__label">Телефон
                    <span class="form__wrapper">
                        <input type="tel" name="telephone" class="form__input" placeholder=" " />
                        <svg class="form__icon" width="18" height="18">
                            <use href="./images/hero-header/icons.svg#icon-form-phone"></use>
                        </svg>
                    </span>
                </label>

                <label class="form__label">Почта
                    <span class="form__wrapper">
                        <input type="email" name="email" class="form__input" placeholder=" " />
                        <svg class="form__icon" width="18" height="18">
                            <use href="./images/hero-header/icons.svg#icon-form-email"></use>
                        </svg>
                    </span>
                </label>

                <label class="form__textarea-label">Комментарий
                    <textarea name="comment" class="form__textarea" placeholder="Введите текст"></textarea>
                </label>

                <label class="form__checkbox-label">
                    <input type="checkbox" name="checkbox" class="form__checkbox visually-hidden" />
                    <svg class="form__checkbox-icon" width="16" height="15">
                        <use href="./images/hero-header/icons.svg#icon-form-check"></use>
                    </svg>
                    Соглашаюсь с рассылкой и принимаю
                    <a href="#" class="form__contract-link">Условия договора</a>
                </label>

                <button type="submit" class="form__btn">Отправить</button>
            </form>

            <button type="button" class="modal__btn--close" data-modal-close data-modal-close1>
                <svg class="modal__icon--vector" width="11" height="11">
                    <use href="./images/hero-header/icons.svg#icon-vector"></use>
                </svg>
            </button>
        </div>
    </div>

    </div>
</header>